* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

input[type="text"] {
  outline: 0;
  border: none;
  background-color: transparent;
  color: $text-color;

}

section.main {
  min-height: 100vh;
  // padding: 50px 60px 20px;
}