* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

input {
  outline: 0;
  border: none;
  background-color: transparent;
  color: $text-color;

}

ul {
  list-style: none;
  padding: 0;
  margin: 0
}

a {
  color: $text-color;
  text-decoration: none;
}

p {
  margin: 0;
}

section.main {
  min-height: 100vh;
  // padding: 50px 60px 20px;
}

.slick-track {
  display: flex;
  justify-content: start;
  column-gap: 30px;
}

.slick-list {
  margin: 0 -10px;
}

.slick-slide {
  padding: 0 10px;
  /* Adds spacing between slides */
}

.slick-slider {
  position: relative;
}

button.slick-arrow {
  height: 100%;
  width: calc(100% - 1000px);
  position: absolute;
  transform: translate(0, -50%);
  top: 50%;
  z-index: 1;
  background-color: rgba(0, 5, 13, .5);
  filter: grayscale(.1);
  border: none;
  outline: none;
  transition: color .3s ease-in-out;

  svg {
    color: white;

    height: 100%;
    width: 100%;

    &:hover {
      transform: scale(1.2);
    }
  }

  &.slick-next {
    right: 0
  }

  &.slick-disabled {
    display: none;
  }


}

.skimmer_cls {
  display: flex;
  column-gap: 50px;
}