* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

input[type="text"] {
  outline: 0;
  border: none;
  background-color: transparent;
  color: $text-color;

}

ul {
  list-style: none;
  padding: 0;
  margin: 0
}

a {
  color: $text-color;
  text-decoration: none;
}

p {
  margin: 0;
}

section.main {
  min-height: 100vh;
  // padding: 50px 60px 20px;
}