:root {
  --left-sidebar-width: 232;
  --content-spacing: 16px;
  --content-max-width: 1955px;
  --background-noise: url("/images/download.svg");
  scroll-behavior: smooth;
}


body {
  font-family: $base-family;
  color: $text-color;
  background-color: $bg-color;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $primary-color;
  margin-bottom: $spacing-unit;
}