button.btn_create {
  border-radius: 6px;
  text-transform: capitalize;
  background-color: $primary-color;
  border: none;
  color: $magic-black;
  outline: 0;
  padding: 11px 0px;
  font-weight: 700;
  min-width: 241px;
}