header {
  display: none;

  @include bp(tablet-sm) {
    display: block;
    padding: 12px;
    position: fixed;
    height: 60px;
    top: 0;
    left: 0;
    z-index: 12;
    width: 100%;
    background-color: $bg-black;
    border-bottom: 1px solid #e9ecef36;

    nav {
      display: flex;
      justify-content: center;
      align-items: center;

      h1 {
        width: 100%;
        text-align: center;
        font-size: 32px;
        line-height: 34px;
        font-family: "Archivo", sans-serif;
        font-weight: 800;
        text-transform: capitalize;
        margin-bottom: 0;
      }
    }
  }
}

aside.sidebar {
  position: relative;
  width: 320px;
  padding: 20px 40px;
  background-color: $bg-black;

  @include bp(tablet-sm) {
    z-index: 1;
    position: fixed;
    top: 0;
    left: -250px;
    transition: left 0.3s ease-in-out;
    height: 100%;

    &.open {
      left: 0;
    }

    &.closed {
      left: -350px;
    }
  }




  h1 {
    font-size: 40px;
    line-height: 44px;
    font-family: $secondary-family;
    font-weight: 800;
    text-transform: capitalize;
    margin-bottom: 20px;
  }

  .menu_list {
    ul {
      margin-top: 40px;
      margin-bottom: 30px;

      li {

        a {
          padding: 11px;
          font-size: 16px;
          line-height: 19px;
          border-radius: 6px;
          width: 100%;
          display: flex;
          align-items: center;


          img {
            margin-right: 14px;
          }

          &:hover {
            background-color: #1f1f1f;
          }
        }

        &:not(:last-child) {
          margin-bottom: 20px;

          @include bp(tablet-sm) {
            margin-bottom: 7px;

          }
        }


      }

    }
  }



}

.right_common {
  width: 100%;
  background-color: #191919;
  padding: 50px 60px 20px;
  overflow-x: hidden;

  @include bp(tablet-sm) {
    padding-inline: 30px;
  }

}