.watchlist {
  margin-top: 20px;

  p {
    text-transform: capitalize;
    font-size: 20px;
    line-height: 24px;
    color: #9A9A9A;
    letter-spacing: 2px;
    margin-bottom: 0;
  }

  ul {

    margin-top: 28px;

    li {
      a {
        font-size: 16px;
        line-height: 19px;
        display: flex;
        justify-content: start;
        align-items: center;
        text-transform: capitalize;

        img {
          margin-right: 10px;
        }
      }

      &:not(:last-child) {
        margin-bottom: 8px;
      }
    }
  }
}

.contextClass {
  position: relative;

  ul {
    width: 100%;
    position: absolute;

    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    list-style: none;
    background-color: #161616;

    top: auto;
    left: 0;

    li {
      text-transform: capitalize;
      color: $text-color;
      display: flex;
      cursor: pointer;
      gap: 5px;
      padding: 12px 12px 0;

      // border-bottom: 1px solid;


      ul {
        width: 100%;
        max-height: 160px;
        overflow-y: auto;
        border-top: 1px solid hsla(0, 0%, 100%, .1);

        li {
          padding: 5px 12px 5px;


          &:hover {
            background-color: hsla(0, 0%, 100%, .28%);

          }
        }


        &::-webkit-scrollbar {
          width: 8px;
        }

        &::-webkit-scrollbar-track {
          background: #363636;
          border-radius: 4px;
        }

        &::-webkit-scrollbar-thumb {
          background: #686868;
          /* Bright Red */
          border-radius: 4px;
        }

        &::-webkit-scrollbar-thumb:hover {
          background: #686868;
        }
      }

    }


  }
}

.poster {
  img {
    max-width: 100%;
    border-radius: 6px;

  }
}

.poster-details {

  margin-top: 30px;

  h1 {
    font-size: 36px;
    line-height: 43px;
    color: $text-color;
    font-weight: 700;
    margin-bottom: 10px;

    span {
      font-weight: 200;
      display: inline-block;
    }

    @include bp(tablet-sm) {
      font-size: 32px;
      line-height: 40px;
    }
  }

  .category {
    ul {
      display: flex;
      column-gap: 30px;
    }

    li {

      &:not(:first-child) {
        list-style-type: disc;
      }
    }
  }

  h2 {
    font-size: 20px;
    line-height: 24px;
    color: $text-color;
    font-weight: bold;
    margin-top: 50px;
    margin-bottom: 10px;

    @include bp(foundation-tablet-sm) {
      margin-top: 25px;
    }
  }

  .cast {
    margin-top: 20px;
    margin-bottom: 45px;

    span {
      margin-right: 5px;
      display: inline-block;
    }

    @include bp(foundation-tablet-sm) {
      margin-bottom: 30px;
    }
  }

  .rating_box {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    column-gap: 60px;

    p {
      width: 81px;
      height: 95px;
      display: flex;
      font-size: 36px;
      line-height: 43px;
      font-weight: bold;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      color: $primary-color;
      border-radius: 8px;
      padding: 15px 10px;
      border: 1px solid $ruby-red;
      background-color: rgba(217, 217, 217, 0.1);

      span {
        display: inline-block;
        font-size: 20px;
        line-height: 24px;
        font-weight: bold;
        color: $text-color;
        margin-bottom: 5px;
      }
    }

    @include bp(foundation-tablet-sm) {
      column-gap: 30px;
    }
  }

  @include bp(foundation-tablet-sm) {
    margin-top: 10px;
  }

  @include bp(tablet-sm) {
    margin-top: 30px;
  }
}

// ------------------watchlist_page----------------------//

section.watchlist_page {
  .editbtn {

    display: flex;
    justify-content: flex-start;
    align-items: center;
    column-gap: 50px;

    h2 {
      font-size: 38px;
      line-height: 46px;
      color: $text-color;
      font-weight: bold;


      @include bp(tablet-sm) {
        font-size: 32px;
        line-height: 43px;
        margin-bottom: 0;
      }

    }

    button {
      background-color: unset;
      outline: 0;
      border: 0
    }
  }

  .description {
    margin-top: 26px;

    h3 {
      font-size: 20px;
      line-height: 24px;
      color: $text-color;
    }

    p {
      font-weight: 300;
    }

    @include bp(tablet-sm) {
      margin-top: 20px;
    }
  }

  .stats_details {
    margin-top: 70px;
    display: grid;
    // grid-template-columns: repeat(auto-fill, minmax(min(180px, 250px), 1fr));
    grid-template-columns: min(168px, 100%) 250px min(190px, 100%);
    gap: 40px;

    div {
      border-radius: 8px;
      padding: 15px 10px;
      border: 1px solid $ruby-red;
      background-color: rgba(217, 217, 217, 0.1);
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;
      row-gap: 20px;
      flex-wrap: wrap;


      p {
        width: 100%;
        font-size: 20px;
        line-height: 24px;
        font-weight: bold;
        color: $text-color;
        margin-bottom: 5px;

      }

      span {
        display: inline-block;
        font-size: 36px;
        line-height: 43px;
        font-weight: bold;
        color: $primary-color;

        @include bp(tablet-sm) {
          font-size: 30px;
          line-height: 40px;
        }

      }

      @include bp(foundation-tablet-sm) {
        row-gap: 5px;
      }

      @include bp(tablet-sm) {
        width: 100%;
      }
    }

    @include bp(foundation-tablet-sm) {
      grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    }

    @include bp(tablet-sm) {
      margin-top: 40px;
      display: flex;
      justify-content: revert-layer;
      align-items: center;
      flex-direction: column;
      row-gap: 20px;
    }
  }

  .movies_section {
    margin-top: 70px;

    .slider-container {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(min(150px, 100%), 1fr));
      column-gap: 50px;
      row-gap: 50px;

      &.card-main {
        .mov_card {
          position: relative;

          span {
            img {
              position: absolute;
              left: auto;
              top: 16px;
              right: 9px;
            }
          }
        }
      }
    }
  }

}

.editpage_title {
  margin-bottom: 50px;

  .delete_link {
    font-size: 16px;
    line-height: 19px;
    color: $primary-color;
    text-decoration: underline;
  }

  .create_watchlist {
    @include bp(tablet-sm) {
      margin-bottom: 10px;

    }
  }

  @include bp(tablet-sm) {
    margin-bottom: 10px;

  }
}

// ------------------Editwatchlist_page----------------------//
.editpage_title {}

section.editmovie_list {

  ul {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    margin-bottom: 40px;
    transition: all 0.5s linear;

    li {
      display: flex;
      justify-content: space-between;
      align-items: center;
      border: 1px solid #414141;
      padding: 17px 17px 17px 17px;
      column-gap: 10px;
      border-radius: 4px;
      transition: opacity 0.3s ease-out, transform 0.3s ease-out, height 0.3s ease-out;

      img {
        height: 32px;
        width: 32px;
        border-radius: 50%;
        margin-right: 8px;
      }


      .remove_btn {
        background-color: unset;
        border: 1px solid $primary-color;
        border-radius: 4px;
        color: $text-color;
        min-width: unset;
        padding: 11px 10px;

        &.rmBtn {
          width: auto;
          border: none;
        }
      }

      @include bp(mobile) {
        border: none;
        padding: 5px 5px;

      }



    }



  }
}

// ------------------Editwatchlist_page----------------------//

// ------------------Popup----------------------//

.modalup {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background-color: rgba(0, 0, 0, .5);
  align-items: center;
  overflow: hidden;
  transition: opacity .3s linear;
  opacity: 0;



  #myPopover {

    border-radius: 8px;
    background-color: aliceblue;
    color: black;
    transition: opacity .3s linear, transform .3s ease-out, -webkit-transform .3s ease-out;
    opacity: 0;
    transform: translateY(-25%);
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 32px;
    margin: 0 auto;
    max-width: 600px;
    width: 40%;

    h2 {
      font-weight: 700;
      font-size: 24px;
      line-height: 27px;
      margin-bottom: 0;
    }

    p {
      font-weight: 400;
    }

    &.opacitypopup {
      opacity: 1;
      transform: translateY(0);
    }

    div {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      margin-top: 20px;
      flex-wrap: wrap;
      gap: 16px;

      button {
        font-weight: 700;
        padding: 8px 32px;
        min-block-size: 48px;
        background-color: unset;
        outline: 0;
        border: 0;
      }

      button.del_btn {

        border-radius: 6px;
        text-transform: capitalize;
        background-color: #F33F3F;
        border: none;
        color: #141414;
        outline: 0;
        font-size: 16px;
        line-height: 19px;
      }
    }



    @include bp(mobile) {
      width: 90%
    }
  }

  &.opacityModal {
    opacity: 1;
  }

  #myPopover2 {
    position: relative;
    border-radius: 8px;
    background-color: #161616;
    color: #E1E1E1;
    transition: opacity .3s linear, transform .3s ease-out, -webkit-transform .3s ease-out;
    opacity: 0;
    transform: translateY(-25%);
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 32px;
    margin: 0 auto;
    max-width: 600px;
    width: 40%;

    p {
      font-weight: 400;

      span {
        margin-left: 10px;
        display: inline-block;
        font-weight: 500;
        font-size: 20px;
        line-height: auto;
        margin-bottom: 0;

        @include bp(tablet-sm) {
          margin-left: 0px;

        }
      }
    }



    &.opacitypopup {
      opacity: 1;
      transform: translateY(0);
    }



    .popupList {
      max-inline-size: 270px;

      ul {
        max-height: calc(100vh - 24px);
        overflow-y: auto;

        li {
          cursor: pointer;
          align-self: start;
          font-size: 16px;
          line-height: 19px;
          display: flex;
          justify-content: start;
          align-items: center;
          text-transform: capitalize;

          img {
            margin-right: 10px;
          }

          &:not(:last-child) {
            margin-bottom: 8px;
          }
        }

        @include bp(tablet-sm) {
          max-height: 150px;
          ;

        }
      }

      .customBtn {
        margin-top: 15px;
        justify-content: start !important;
        padding: 8px 12px;
        column-gap: 16px;

        @include bp(tablet-sm) {
          column-gap: 5px;

        }
      }


    }

    &>p {
      margin-bottom: 8px;
    }

    button.close_btn {
      cursor: pointer;
      position: absolute;
      top: 15px;
      right: 15px;
    }

    @include bp(tablet-sm) {
      width: 90%
    }
  }

  &.opacityModal {
    opacity: 1;
  }

  @include bp(tablet-sm) {
    position: fixed;
  }
}

// ------------------Popup----------------------//
// ------------------History page----------------------//

section.movies_section.movies_history {
  margin-top: 40px;
}

// ------------------History page----------------------//