.watchlist {
  margin-top: 20px;

  p {
    text-transform: capitalize;
    font-size: 20px;
    line-height: 24px;
    color: #9A9A9A;
    letter-spacing: 2px;
    margin-bottom: 0;
  }

  ul {

    margin-top: 28px;

    li {
      a {
        font-size: 16px;
        line-height: 19px;
        display: flex;
        justify-content: start;
        align-items: center;

        img {
          margin-right: 17px;
        }
      }
    }
  }
}

.contextClass {
  position: relative;

  ul {
    width: 100%;
    position: absolute;
    // top: menuPosition.y,
    // left: menuPosition.x,
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    list-style: none;
    background-color: #161616;
    // max-height: calc(100vh - 50px);
    // max-width: 350px;
    // min-width: 160px;
    // overflow-y: auto;
    top: auto;
    left: 0;

    li {
      text-transform: capitalize;
      color: $text-color;
      display: flex;
      cursor: pointer;
      gap: 5px;
      padding: 12px 12px 0;

      // border-bottom: 1px solid;


      ul {
        width: 100%;
        // max-height: unset;
        // max-width: unset;
        // min-width: unset;
        // overflow-y: unset;

        li {
          padding: 12px;

          &:first-child {
            border-top: 1px solid;
          }

          // &:not(first-child) {
          //   border-bottom: 1px solid;
          // }
        }
      }

    }


  }
}

.poster {
  img {
    border-radius: 6px;
  }
}

.poster-details {

  margin-top: 30px;

  h1 {
    font-size: 36px;
    line-height: 43px;
    color: $text-color;
    font-weight: 700;
    margin-bottom: 10px;

    span {
      font-weight: 200;
    }
  }

  .category {
    ul {
      display: flex;
      column-gap: 30px;
    }

    li {

      &:not(:first-child) {
        list-style-type: disc;
      }
    }
  }

  h2 {
    font-size: 20px;
    line-height: 24px;
    color: $text-color;
    font-weight: bold;
    margin-top: 50px;
    margin-bottom: 10px;
  }

  .cast {
    margin-top: 20px;
    margin-bottom: 45px;

    span {
      margin-right: 5px;
    }
  }

  .rating_box {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    column-gap: 90px;

    p {
      width: 81px;
      height: 95px;
      display: flex;
      font-size: 36px;
      line-height: 43px;
      font-weight: bold;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      color: $primary-color;
      border-radius: 8px;
      padding: 15px 10px;
      border: 1px solid $ruby-red;
      background-color: rgba(217, 217, 217, 0.1);

      span {
        display: inline-block;
        font-size: 20px;
        line-height: 24px;
        font-weight: bold;
        color: $text-color;
        margin-bottom: 5px;
      }
    }
  }
}

.watchlist_page {
  .editbtn {

    display: flex;
    justify-content: flex-start;
    align-items: center;
    column-gap: 50px;

    h2 {
      font-size: 38px;
      line-height: 46px;
      color: $text-color;
      font-weight: bold;
    }
  }

  .description {
    margin-top: 26px;

    h3 {
      font-size: 20px;
      line-height: 24px;
      color: $text-color;
    }

    p {
      font-weight: 300;
    }
  }
}

.editpage_title {
  margin-bottom: 50px;

  a {
    color: $primary-color;
    text-decoration: underline;
  }
}

section.editmovie_list {

  ul {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    margin-bottom: 40px;

    li {
      display: flex;
      justify-content: space-between;
      align-items: center;
      border: 1px solid $text-color;
      padding: 17px 17px 17px 0px;
      column-gap: 10px;
      border-radius: 4px;


      .remove_btn {
        background-color: unset;
        border: 1px solid $primary-color;
        border-radius: 4px;
        color: $text-color;
        min-width: unset;
        padding: 11px 10px;
      }
    }
  }
}