.watchlist {
  margin-top: 20px;

  p {
    text-transform: capitalize;
    font-size: 20px;
    line-height: 24px;
    color: #9A9A9A;
    letter-spacing: 2px;
    margin-bottom: 0;
  }

  ul {

    margin-top: 28px;

    li {
      a {
        font-size: 16px;
        line-height: 19px;
        display: flex;
        justify-content: start;
        align-items: center;

        img {
          margin-right: 17px;
        }
      }
    }
  }
}

.contextClass {
  position: relative;

  ul {
    position: absolute;
    // top: menuPosition.y,
    // left: menuPosition.x,
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 10px;
    list-style: none;
    background-color: #161616;
    max-height: calc(100vh - 24px);
    max-width: 350px;
    min-width: 160px;
    overflow-y: auto;

    li {
      color: $text-color;
      padding: 5px 10px;
      cursor: pointer;

      // border-bottom: 1px solid;
      &:first-child {
        border-bottom: 1px solid;
      }

    }


  }
}