@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&family=Kaushan+Script&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&family=Kaushan+Script&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

// Colors
$primary-color: #F33F3F;
$secondary-color: #141414;
$text-color: #E1E1E1;
$bg-color: #363636;
$lst-color:#9A9A9A;
$inp-color:#414141;
$bg-black:#000000;
$magic-black:#141414;
$ruby-red:#A41B1B; // Fonts
$htmlFontSize: 16px;
$baseFontSize: 16px;

$base-family: 'lato',
sans-serif;

$secondary-family: 'Archivo',
sans-serif;

// Spacing
$spacing-unit: 8px;

// Breakpoints
// _variables.scss
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;