section.home-message {
  border-radius: 8px;
  border: 1px solid $ruby-red;
  padding: 20px 20px 30px;
  background-color: #2c2c2c;

  h1 {
    color: $text-color;
    margin-bottom: 35px;

    span {
      color: $primary-color
    }
  }

  p {

    font-weight: normal;
    padding-bottom: 10px;
  }

}

section.search_box_2 {
  display: flex;
  margin-top: 40px;
  margin-bottom: 35PX;

  .search_box {
    width: 100%;
    justify-content: start !important;

    input {
      width: 100%;
    }
  }
}

section.movies_section {
  h2 {
    font-size: 32px;
    line-height: 38px;
    color: $text-color;
    margin-bottom: 35px;
  }
}